@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('../font/idroid.otf') format(opentype);
    font-weight: normal;     
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'idroid', sans-serif;
}

body{
    background-color: var(--cor1);
    margin: 0;
}

header{
    background-image: linear-gradient(to top, #063d1e, #3DDC84 );
    padding-top: 5px;
    padding-bottom: 15px;
    color: white;
    font-family: var(--fonte1);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
}

header > h1{
    font-weight: normal;
    text-align: center;
    font-size: 3em;
    
}

header > p{
    max-width: 370px;
    margin: auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.726);
}
nav{
    background-color: var(--cor5);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.466);
    padding: 10px;
}

nav > a{
    font-family: var(--fonte0);
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    transition-duration: 0.3s;
    
}

nav > a:hover{
    background-color: var(--cor1);
    color: var(--cor5);
    text-shadow: none;
    padding: 2px;
    border-radius: 3px;
}

main{
    border-radius: 0px  0px 10px 10px;
    margin: auto;
    background-color: white;
    min-width: 400px;
    max-width: 800px;
    padding: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.466);
}

section > h1{
    text-indent: 10px;
    font-family: var(--fonte2);
    color: var(--cor4);
}

p{
    font-family: var(--fonte0);
    font-size: smaller;
    text-indent: 20px;
    line-height: 1.5em;
    text-align: justify;
    padding: 15px;
}

p > a{
    color: var(--cor4);
    text-decoration: none;
    font-weight: 800;
}

p > a:hover {
text-decoration: underline;
}

h2{
    font-family: var(--fonte2);
    color: var(--cor4);
    font-size: 1.1em;
    background-image: linear-gradient(to right, #c5ebd6, white);
    padding: 1px;
    text-indent: 10px;
}

img {
    width: 100%;
}

.bugdroid > img {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
    margin: 0px;
    padding: 0px;
    
    
}



aside{
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: var(--cor1);
    padding: 0px 3px 20px 3px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.384);
}

aside > h3{
    font-family: var(--fonte0);
    color: white;
    background-color: var(--cor3);
    margin-left: -3px;
    margin-right: -3px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}

footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    font-family: var(--fonte0);
    font-size: small;
}
